
.header-text{
    color: aliceblue;
    text-align: center;
    float: none;
    padding: 0px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
}

#form {
    margin-top: 100px;
}

.weather{
    border: solid black;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.forecast{
    text-align: center;
}

.weather-card{
width: 80%;
}

